@use "./variables.scss" as *;
@use 'sass:color';

* {
  color: $foreground;
  font-weight: 600;
  transition-duration: 200ms;
}

gui {
  background: $background;
  border: $border;
  button {
    background: transparent;
    border: none;
    &:hover {
      background: $container;
    }
  }
}
