@use "../variables.scss" as *;
@use "sass:color";

.Bar gui {
  margin: 8px 8px 4px 8px;
  border-radius: 24px;
  padding: 4px 6px;

  .Workspaces {
    margin-left: 8px;

    button {
      border: $border;
      min-height: 12px;
      min-width: 12px;
      padding: 0px;
      border-radius: 16px;

      &.active {
        background: $foreground;
        padding: 0 16px;
      }
    }
  }

  .Time,
  .Tray menubutton button,
  .Status {
    border-radius: 16px;
  }

  .Tray menubutton {
    popover {
      margin-top: 8px;

      arrow {
        background: transparent;
      }

      contents {
        background: $background;
        border: $border;
        border-radius: 16px;
        stack box box box box modelbutton {
          border-radius: 16px;

          &:not(:first-child) {
            margin-top: 2px;
          }
        }

        separator {
          background: $container;
        }

        modelbutton:hover {
          background: $container;
        }
      }
    }
  }
}
